Package: live-build-desc-hooks
Source: live-build-desc
Version: 0.8
Architecture: all
Maintainer: Vyatta Package Maintainers <DL-vyatta-help@att.com>
Installed-Size: 14
Section: misc
Priority: optional
Description: OBS specific live-build hooks
 Distribution generic live-build hooks
